<div class="home-container">
    <!-- Calculator Section -->
    <div class="calculator-container">
      <app-calculator></app-calculator>
    </div>
  
    <!-- Transactions Section -->
    <div class="transactions-container">
      <app-last-transactions></app-last-transactions>
  
      <!-- <h1>All Transactions</h1>
      <ul>
        <li *ngFor="let transaction of transactions">
          <p><strong>ID:</strong> {{ transaction.id }}</p>
          <p><strong>User:</strong> {{ transaction.user }}</p>
          <p><strong>Date:</strong> {{ transaction.date | date:'fullDate' }} {{ transaction.date | date:'shortTime' }}</p>
          <p><strong>Total:</strong> ${{ transaction.total }}</p>
        </li>
      </ul> -->

    </div>

    <div class="transactions-container">
      <app-last-total-transactions></app-last-total-transactions>
  
      <!-- <h1>All Transactions</h1>
      <ul>
        <li *ngFor="let transaction of transactions">
          <p><strong>ID:</strong> {{ transaction.id }}</p>
          <p><strong>User:</strong> {{ transaction.user }}</p>
          <p><strong>Date:</strong> {{ transaction.date | date:'fullDate' }} {{ transaction.date | date:'shortTime' }}</p>
          <p><strong>Total:</strong> ${{ transaction.total }}</p>
        </li>
      </ul> -->

    </div>
</div>