<div class="title-container" style="text-align: center;">
  <h2 class="transactions-title fade-in">
    <ng-container *ngIf="user?.token; else demoText">
      <span lang="es-ES">Operaciones</span>
      <span lang="en-GB">Operations</span>
    </ng-container>
    <ng-template #demoText>
      <span lang="es-ES">Demo de operaciones</span>
      <span lang="en-GB">Operations Demo</span>
    </ng-template>
  </h2>
</div>

<div class="centered-link fade-in" *ngIf="!user?.token">
  <a routerLink="/login" class="linklogin" (click)="onLoginClick()">
    <span lang="es-ES">Ingresa para empezar a hacer transacciones.</span>
    <span lang="en-GB">Log in to start creating transactions.</span>
  </a>
</div>

<div class="home-container fade-in">
  <!-- Calculator Section -->
  <div class="calculator-container">
    <div class="calculator-card">
      <app-calculator></app-calculator>
    </div>
  </div>

  <!-- Transactions Group -->
  <div class="transactions-group">
    <div class="transactions-container">
      <app-last-transactions></app-last-transactions>
    </div>
    <div class="transactions-container">
      <app-last-total-transactions></app-last-total-transactions>
    </div>
  </div>
</div>
