<div class="last-transactions-container">
    <h1>Ultimos Cortes</h1>
    <ul>
      <li *ngFor="let lasttransactions of lasttransactions">
        <p><strong>ID:</strong> {{ lasttransactions.id }}</p>
        <p><strong>User:</strong> {{ lasttransactions.user_id }}</p>
        <p><strong>Date:</strong> {{ lasttransactions.date | date:'fullDate' }} {{ lasttransactions.date | date:'shortTime' }}</p>
        <p><strong>Total:</strong> ${{ lasttransactions.total }}</p>
        <p><strong>Numero de personas:</strong> ${{ lasttransactions.total }}</p>
        <button mat-button (click)="openTransactionDialog(lasttransactions)">Detalles</button>
      </li>
    </ul>
  </div>