<div class="popup-container">
  <div class="popup-content">
    <!-- Header (will not be printed) -->
    <div class="popup-header non-printable">
      <h5 class="popup-title">Detalles de la transacción</h5>
      <button type="button" class="close-button" (click)="closedDialog()">
        <span aria-hidden="true">×</span>
      </button>
    </div>

    <!-- Body -->
    <div class="popup-body">
      <div class="printable" id="printable-section">
        <!-- Company name for ticket header (only in print) -->
        <h1 class="only-printable">{{ user.company_name }}</h1>
        <div *ngIf="totaltransaction">
          <p><strong>ID:</strong> {{ totaltransaction.id }}</p>
          <p><strong>User:</strong> {{ totaltransaction.user_id }}</p>
          <p>
            <strong>Date:</strong> {{ totaltransaction.date | date:'fullDate' }}
            {{ totaltransaction.date | date:'shortTime' }}
          </p>
          <p><strong>Total:</strong> ${{ totaltransaction.total }}</p>
          <p><strong>Numero de Personas:</strong> {{ totaltransaction.number_transactions }}</p>
          
        </div>
      </div>
    </div>

    <!-- Footer (will not be printed) -->
    <div class="popup-footer non-printable">
      <button [disabled]="!user?.token" class="btn btn-danger" *ngIf="totaltransaction?.id !== undefined" (click)="deleteTransaction(totaltransaction.id!)">Eliminar</button>
    </div>
  </div>
</div>
