<header>
    <div class="header-container">
        <a routerLink="/" class="logo"> De Moda</a>
        <nav>
            <ul>
                <li *ngIf="user.token">
                    <p>{{user.company_name}}</p>
                </li>
                <li *ngIf="!user.token">
                    <a routerLink="/login">Login</a>
                </li>
                <li *ngIf="user.token">
                    <a (click)="logout()">Logout</a>
                </li>
                <li *ngIf="user.token">
                    <a routerLink="/calculator">Calculadora</a>
                </li>
            </ul>
        </nav>
    </div>
</header>