<form class="register-form" [formGroup]="registerForm" (ngSubmit)="register()">
  <h2>Registro</h2>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput type="email" required formControlName="email">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Nombre de la empresa</mat-label>
    <input matInput type="text" required formControlName="company_name">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Nombre de la sucursal</mat-label>
    <input matInput type="text" required formControlName="branch_name">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Contraseña</mat-label>
    <input matInput type="password" required formControlName="password">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Registrarse</button>
</form>