<div>
    <div class="printable" id="printable-section">
        <h1 class="only-printable">{{user.company_name}}</h1>
        <h1 class="non-printable">Detalles de la transacción</h1>
        <div *ngIf="transaction">
            <p><strong>ID:</strong> {{ transaction.id }}</p>
            <p><strong>User:</strong> {{ transaction.user_id }}</p>
            <p><strong>Date:</strong> {{ transaction.date | date:'fullDate' }} {{ transaction.date | date:'shortTime' }}</p>
            <p><strong>Total:</strong> ${{ transaction.total }}</p>
        </div>
    </div>
    <div class="non-printable">
        <button mat-button (click)="closedDialog()">Volver</button>
        <button mat-button (click)="printPage()">Imprimir</button>
        <button mat-button *ngIf="transaction?.id !== undefined" (click)="deleteTransaction(transaction.id!)">Eliminar</button>
    </div>
</div>