<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top w-100">
    <p class="col-md-4 mb-0 text-body-secondary" style="padding-left: 20px;">
        <span lang="es-ES">Desarrollado por</span>
        <span lang="en-GB">Developed by</span>
        <a href="https://www.linkedin.com/in/alarico-mercado-255814b7/" class="nav-link px-2 text-body-secondary">Alarico Mercado Vazquez <i class="fa-brands fa-linkedin" style="color: #0077b5;"></i></a>
    </p>
    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
       aria-label="Bootstrap">
        <svg class="bi me-2" width="40" height="32" aria-hidden="true">
            <use xlink:href="#bootstrap"></use>
        </svg>
    </a>
    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><span lang="es-ES">Inicio</span><span lang="en-GB">Home</span></a></li>
        <li class="nav-item"><a href="calculator" class="nav-link px-2 text-body-secondary"><span lang="es-ES">Operaciones</span><span lang="en-GB">Operations</span></a></li>
        <li class="nav-item"><a href="transactions" class="nav-link px-2 text-body-secondary"><span lang="es-ES">Transacciones</span><span lang="en-GB">Transactions</span></a></li>
        <li class="nav-item"><a href="totaltransactions" class="nav-link px-2 text-body-secondary"><span lang="es-ES">Reportes</span><span lang="en-GB">Reports</span></a></li>
        <li class="nav-item"><a href="login" class="nav-link px-2 text-body-secondary"><span lang="es-ES">Iniciar sesión</span><span lang="en-GB">Login</span></a></li>
        <li class="nav-item"><a href="register" class="nav-link px-2 text-body-secondary"><span lang="es-ES">Registrarse</span><span lang="en-GB">Register</span></a></li>
    </ul>
</footer>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
