<div class="last-transactions-container">
  <h1>Últimos Cobros</h1>

  <ul>
    <li *ngFor="let transaction of lasttransactions">
      <p><strong>ID:</strong> {{ transaction.id }}</p>
      <p><strong>User:</strong> {{ transaction.user_id }}</p>
      <p>
        <strong>Date:</strong>
        {{ transaction.date | date:'fullDate' }} {{ transaction.date | date:'shortTime' }}
      </p>
      <p><strong>Total:</strong> ${{ transaction.total }}</p>
      <button class="btn btn-primary" (click)="openTransactionDialog(transaction)">Detalles</button>
    </li>
  </ul>
</div>
